# OS/에디터 관련
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python 캐시/가상환경
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
*.log
*.env
.venv/
venv/
env/

# 가상환경 실행 파일
bin/
Scripts/

# Secret/Key 파일
gcp-key.json
.env

# 빌드/배포 산출물
dist/
build/
